/* TRÍPTICO DE 3 IMÁGENES PARALELAS */
.gallery-triptych {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin: 0 auto 30px auto;
    width: 80%;
    align-items: stretch; /* Fuerza a que todas las columnas midan lo mismo de alto */
}

.gallery-triptych img {
    width: 100%;
    height: 100%; /* Ocupa todo el alto de la fila */
    object-fit: cover; /* Ajusta la imagen sin deformarla */
    border-radius: 6px;
    display: block;
}

/* DÍPTICO DE 2 IMÁGENES */
.gallery-diptych {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin: 0 auto 30px auto;
    width: 80%;
    align-items: stretch;
}

.gallery-diptych img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
    display: block;
}

/* MOSAICO DE 5 IMÁGENES / FILAS */
.gallery-grid-5 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
    margin: 0 auto 30px auto;
    width: 80%;
    align-items: stretch;
}

.gallery-grid-5 img {
    width: 100%;
    height: 100%; /* Ocupa el 100% de la altura de su fila */
    object-fit: cover;
    border-radius: 6px;
    display: block;
    grid-column: span 2;
}

.gallery-grid-5 img.grid-span-bottom {
    grid-column: span 2;
}

/* MOSAICO DE 4 IMÁGENES */
.gallery-grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin: 0 auto 30px auto;
    width: 80%;
    align-items: stretch;
}

.gallery-grid-4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
    display: block;
}
